[run]
branch = True
source = intrepyd
omit = intrepyd/plots.py

[report]
exclude_lines =
	# Re-enable pragma
	pragma: no cover

	raise Exception
	raise NotImplementedError
	except ImportError
	except NameError
	except Exception
	except AttributeError

	if __name__ == .__main__.:

[html]
directory = coverage_html_report

