*.pyc
*.*~
build
dist/intrepid-0.1
intrepid/_api.so
intrepid/libintrepid_dll.dylib
intrepid/libz3.dylib
intrepid/libintrepid_dll.so
intrepid/libz3.so
intrepid/_api.pyd
intrepid/intrepid_dll.dll
intrepid/libz3.dll
/.vs/intrepid/v14/.suo
